.custom-bg{
	background: #cddc39!important;
}

.admin .card{
	
	border: 1px solid red;
	
}

.admin .card:hover{
	background-color: whitesmoke;
	cursor: pointer;
}

/* body {
	background-image: url('../image/back2.jpeg');
} */


.list-group-item.active{
	    background: #28a745 !important;
	    border-color: #28a745 !important;
}

.discount-label{
	font-size: 10px !important;
	font-style: italic !important;
	text-decoration: line-through;
	color: white !important;
}

.product-card:hover{
	background-color: whitesmoke;
	cursor: pointer;
}